body {
    background-color: #0ae628;
    text-align: center;
  }
  
  h1 {
    color: #0dd;
    display: inline-block;
    margin: auto;
  }
  
  .friend {
    background-color: #04bbe9;
  }
  
  .friend > h3 {
    text-transform: uppercase;
  }